In [15]:
import pandas as pd
from io import StringIO

In [16]:
csv_data = '''A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0,,8.0
10.0,11.0,12.0,'''

In [17]:
df = pd.read_csv(StringIO(csv_data))
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [18]:
df.dropna()

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [22]:
df.dropna(axis=1)

      A     B
0   1.0   2.0
1   5.0   6.0
2  10.0  11.0

In [24]:
# only drop rows where all columns are NaN
#df.dropna(how='all') 

# drop rows that have not at least 4 non-NaN values
#df.dropna(thresh=4)

# only drop rows where NaN appear in specific columns (here: 'C')
#df.dropna(subset=['C'])